USE [master]
GO
/****** Object:  Database [users_db]    Script Date: 17/1/2568 15:26:49 ******/
CREATE DATABASE [users_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'users_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\users_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'users_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\users_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [users_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [users_db]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/1/2568 15:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [email], [password]) VALUES (12, N'Admin', N'Admin@gmail.com', N'$2a$10$zbc2pB49SLt6W/S8.GpNLubherMXRb7qpoYH8Dy2tKziIT.vezzb2')
INSERT [dbo].[users] ([id], [full_name], [email], [password]) VALUES (13, N'Wutthichai', N'test2@gmail.com', N'$2a$10$R1TRgHAC9TPFDZqj8c.t8uyb3QknctYL1Vi5RcjBogVCNFlzMXCL6')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
USE [master]
GO
